   * {
       margin: 0;
       padding: 0;
   }

   .bag {
       width: 100%;
       height: 100vh;
       background-color: rgba(0, 0, 0, .3);
       position: absolute;
       top: 0;
       left: 0;
       z-index: -1;
       display: none;
   }

   .header {
       height: 60px;
       line-height: 60px;
       background-color: #ccc;
       font-size: 30px;
       border-radius: 5px;
       text-align: center;


   }

   .search {
       height: 100px;
       line-height: 100px;
       text-align: center;
       border: 2px solid #ccc;



   }

   .search input {
       padding-left: 10px;
       margin: 0 20px;
       height: 20px;
       outline-color: #ccc;
   }

   #btn1,
   #btn2 {
       margin: 2px 50px 0 0;
       cursor: pointer;
       border: none;
       width: 50px;
       height: 25px;
       background-color: rgba(0, 0, 0, .8);
       color: #fff;
       transition: all .5s;
   }

   #btn2 {
       width: 100px;
   }

   #btn1:hover,
   #btn2:hover {
       background-color: red;
   }


   .test1 {
       margin: 40px auto;
       height: 450px;
       width: 1000px;
       overflow: auto;
       border: 1px solid rgba(0, 0, 0, .3);
       ;
   }

   .test::-webkit-scrollbar {
       width: 10px;
       height: 100%;
       border-radius: 5px;
       background: #ccc;
   }

   .test::-webkit-scrollbar-thumb {
       background-color: rgb(31, 32, 32);
       border-radius: 15px;
   }

   .test::-webkit-scrollbar-button {
       width: 10px;
       height: 10px;
       border-radius: 50%;
       background-color: black;
   }




   .table1 {
       border-spacing: 0;
       border-collapse: collapse;
       text-align: center;

   }


   .table1 td {
       height: 30px;
       width: 150px;
       border: 1px solid #ccc;
   }

   .table1 th {
       height: 35px;
       width: 150px;
       border: 1px solid;

   }

   .table1 thead {
       position: sticky;
       top: 0;
       left: 0;
       background-color: black;
       color: #fff;

   }


   .table1 button {
       cursor: pointer;
       border: none;
       width: 60px;
       height: 25px;
       margin-right: 2px;
       background-color: rgba(0, 0, 0, .8);
       color: #fff;
   }



   .table1 button:hover {
       background-color: red;
   }

   /* 添加图书 */
   .insert,
   .insert1 {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       margin: 0 auto;
       width: 600px;
       height: 450px;
       border: 2px solid #ccc;
       background-color: #fff;
       display: none;
   }

   /* .insert1 {
       display: block;
   } */

   .insert header,
   .insert1 header {
       position: relative;
       height: 50px;
       line-height: 50px;
       background-color: rgba(0, 0, 0, .8);
       text-align: center;
       color: #fff;
       cursor: move;
   }

   .insert header span,
   .insert1 header span {
       position: absolute;
       top: 0;
       right: 20px;
       cursor: pointer;
   }

   .insert header span:hover,
   .insert1 header span:hover {
       color: red;
   }

   .insert table,
   .insert1 table {
       margin: 30px auto;
   }

   .insert table tr,
   .insert1 table tr {
       height: 40px;
   }

   .insert table td span,
   .insert1 table td span {
       float: right;
       margin-right: 30px;
   }

   .insert table input,
   .insert table select,
   .insert1 table input,
   .insert1 table select {
       padding-left: 10px;
       height: 28px;
       width: 300px;
   }

   .tianjias {
       position: absolute;
       bottom: 30px;
       left: 50%;
       transform: translateX(-50%);
       width: 60px;
       height: 30px;
       background-color: rgba(0, 0, 0, .8);
       color: #fff;
       border: none;
       cursor: pointer;
   }

   .tianjia:hover {
       background-color: red;
   }

   #btn3 {
       width: 50px;
       height: 25px;
       background-color: black;
       color: #fff;
       cursor: pointer;
       border: none;
       transition: all .3s;
   }

   #btn3:hover {
       background-color: red;
   }